<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
  
  <div class="add-members-container">
    <input 
    #memberName
    type="text" 
    placeholder="name"
    (input)="updateNewMember(memberName.value)"
    [value]="newMember"
    >
    <button (click)="addMember()">add</button>
  </div>
  <div class="input-container">
    <input type="number" 
    #numofteams
    placeholder="# of teams"
    (input)="setNumberOfTeams(numofteams.value)"
    [value]="numOfTeams"
    >
    <button (click)="setTeams()">
      Generate
    </button>
  </div>
  <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
</div>
<div *ngIf="teams.length>0" class="teamsContainer">
  <app-team *ngFor="let team of teams;let i=index "
  [team]="team"
  [i]="i"
  ></app-team>
</div>
</div>